*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #ffefd5;
    color: #222;
    font-family: sans-serif;
}

h1{
    font-size: 2rem;
}

.container{
    max-width: 95%;
    height: 100vh;
    border: 8px solid #000;
    border-radius: 30px;
    margin: 0 auto;
    padding: 1em;
}

.achieved-tasks{
    display: none;
}

.input-el,
.submit-btn{
    width: 100%;
    border: transparent;
    padding: 1em 2em;
    border-radius: 10px;
}

.input-el{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.submit-btn{
    display: inline-block;
    text-align: center;
    background-color: green;
    color: whitesmoke;
    font-weight: bolder;
}

.task-div{
    margin: .5em 0 .5em;
}
.to-dos{
    display: flex;
    justify-content: space-between;
}

.action-btns{
    display: inline-block;
    padding: .5em 1em;
    border: 1px solid black;
    border-radius: 5px;
}

.done-btn{
    background-color: green;
}

.edit-btn{
    background-color: yellow;
}

.delete-btn{
    background-color: red;
}